
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
}

.navbar{
    background-color: lightgreen;
    height: 80px;
    display: flex;
    color: white;
    

}
.logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
    left: 10px;
}
.lista{
    display: flex;
    list-style-type: none;
    position: relative;
    top: 30px;
    

}
.Products{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ContactUs{
    position: relative;
    left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Instagram{
    position: relative;
    left: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.home{
    background-image: url(images/home-bg.jpg);
    height: 91vh;
}
.naslovOwn{
    position: relative;
    top: 100px;
    font-size: 100px;
    font-family: 'Lobster', cursive;

    
}
.Own{
    position: relative;
    top: 100px;
    font-size: 100px;
    font-family: 'Lobster', cursive;
}
@media only screen and (min-width: 400px){
    .lista{
        opacity: 0;
    }
    .logo{
        position: relative;
        left: 150px;
    }
    .home{
        
        width: 400px;
        
    }
    .naslovOwn{
        opacity: 0;
    }
    .Own{
        position: relative;
        
    }
    .navbar{
        width: 100%;
    }
    
}